.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 20px;
  font-family: 'Inter', sans-serif;
}

.pagination-btn {
  background: transparent;
  color: #000;
  border: none;
  font-weight: 400; /* reduced from 600 */
  font-size: 1rem;
  padding: 6px 10px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: color 0.3s ease, border-bottom-color 0.3s ease;
}


.pagination-btn:hover:not(:disabled) {
  color: #E70089;
  border-bottom-color: #E70089;
}

.pagination-btn.active,
.pagination-btn:focus {
  color: #E70089;
  border-bottom-color: #E70089;
  outline: none;
}

.pagination-btn:disabled {
  color: #ccc;
  cursor: default;
  border-bottom-color: transparent;
}
.pagination-ellipsis {
  padding: 8px 12px;
  font-size: 1rem;
  color: #888888;
  cursor: default;
}
